---
import Container from "@/components/container.astro";
import Hero from "@/components/hero.astro";
import NewsTimeline from "@/components/NewsTimeline.astro";
import PublicationsList from "@/components/publications/PublicationsList.astro";
import ProjectsGrid from "@/components/projects/ProjectsGrid.astro";
import Section from "@/components/Section.astro";
import Layout from "@/layouts/Layout.astro";
import ResearchInterests from "@/components/ResearchInterests.astro";
import RecentPosts from "@/components/RecentPosts.astro";
---

<Layout title="Hyerin Kim | mye280c37">
  <Container>
    <section id="#">
      <Hero />
    </section>
    <Section title="Research Interests" id="research-interests">
      <ResearchInterests />
    </Section>
    <Section title="News" id="news">
      <NewsTimeline count={5} />
    </Section>
    <Section title="Publications" id="publications">
      <PublicationsList />
    </Section>
    <Section title="Projects" id="projects">
      <ProjectsGrid />
    </Section>
    <Section title="Deep Dives" id="deep-dives">
      <RecentPosts count={3} />
    </Section>
  </Container>
</Layout>
