---
import Container from "@/components/container.astro";
import { Astronav, MenuItems, MenuIcon } from "astro-navbar";

const { pathname } = Astro.url;
const isHome = pathname === "/" || pathname === "/index.html";

const menuitems = [
  {
    title: "Research Interests",
    path: "#research-interests",
  },
  {
    title: "News",
    path: "#news",
  },
  {
    title: "Publications",
    path: "#publications",
  },
  {
    title: "Projects",
    path: "#projects",
  },
  {
    title: "Deep Dives",
    path: "#deep-dives",
  },
];
---

<div class="sticky top-0 z-50 w-full bg-base backdrop-blur-md">
  <Container>
    <header class="flex flex-col lg:flex-row justify-between items-center my-5">
      <Astronav>
        <div class="flex w-full lg:w-auto items-center justify-between">
          <a href="/#" class="text-xl font-bold">mye280c37</a>
          {
            isHome && (
              <div class="block lg:hidden">
                <MenuIcon class="w-4 h-4 text-muted" />
              </div>
            )
          }
        </div>
        {
          isHome && (
            <MenuItems class="hidden w-full lg:w-auto mt-2 lg:flex lg:mt-0">
              <ul class="flex flex-col lg:flex-row lg:gap-3">
                {menuitems.map((item, index) => (
                  <>
                    {!item.children && (
                      <li>
                        <a
                          href={item.path}
                          class="nav-link flex lg:px-3 py-2 items-center text-muted hover:text-accent">
                          <span> {item.title}</span>
                        </a>
                      </li>
                    )}
                  </>
                ))}
              </ul>
            </MenuItems>
          )
        }
      </Astronav>
    </header>
  </Container>
</div>

<script is:inline>
  function initScrollSpy() {
    const navLinks = document.querySelectorAll(".nav-link");
    const sections = document.querySelectorAll("section[id]");

    const observerOptions = {
      root: null,
      rootMargin: "-20% 0px -70% 0px",
      threshold: 0,
    };

    const observer = new IntersectionObserver((entries) => {
      entries.forEach((entry) => {
        if (entry.isIntersecting) {
          const id = entry.target.getAttribute("id");
          console.log("현재 보고 있는 섹션:", id);

          navLinks.forEach((link) => {
            const href = link.getAttribute("href");
            if (href === `#${id}` || href === `/#${id}`) {
              link.classList.add("active");
            } else {
              link.classList.remove("active");
            }
          });
        }
      });
    }, observerOptions);

    sections.forEach((section) => observer.observe(section));
  }

  document.addEventListener("astro:page-load", () => {
    requestAnimationFrame(() => {
      initScrollSpy();
    });
  });
</script>
