/*
  Style for News
*/

#news {
  letter-spacing: 0.03rem;

  $timeline-width: 4px;

  %timeline {
    content: '';
    width: $timeline-width;
    position: absolute;
    float: left;
    background-color: var(--timeline-color);
  }

  .year {
    height: 4rem;
    font-size: 1.5rem;
    position: relative;
    left: 2px;
    margin-left: -$timeline-width;
    padding-top: 0.5rem;

    &::before {
      @extend %timeline;

      // height: 72px;
      top: 0;
      left: 77px;
      bottom: 0;
    }

    &:first-child {
      height: 3.5rem;
      padding-top: 0;

      &::before {
        @extend %timeline;
        height: 32px;
        top: 24px;
      }
    }

    /* Year dot */
    &::after {
      content: '';
      display: inline-block;
      position: relative;
      border-radius: 50%;
      width: 12px;
      height: 12px;
      left: 23.5px;
      border: 3px solid;
      background-color: var(--timeline-year-dot-color);
      border-color: var(--timeline-node-bg);
      box-shadow: 0 0 2px 0 #c2c6cc;
      z-index: 1;
    }
  }

  ul {
    margin-bottom: 0;

    li {
      position: relative;
      font-size: 1.1rem;
      line-height: 1.3;
      white-space: nowrap;
      padding-bottom: 1.5rem;

      &::before {
        @extend %timeline;

        top: 0;
        left: 75px;
        bottom: 0;
        // height: 3.1rem;
      }
    }

    &:last-child li:last-child::before {
      height: 1.5rem;
    }
  }

  /* #news ul */

  .headline {
    display: flex;
    align-items: flex-start;
    gap: .5rem;
    margin-bottom: 0;
  }

  .date {
    position: relative;
    flex: 0 0 6ch;
    white-space: nowrap;
    font-variant-numeric: tabular-nums;
    text-align: right;

    .month {
      // width: 1.4rem;
      text-align: center;
    }

    .day {
      font-size: 85%;
      font-family: Lato, sans-serif;
    }

    &::after {
      content: "";
      position: absolute;
      top: 0.4em;
      left: auto;
      bottom: auto;
      /* 날짜 글자 높이에 맞춰 세로 위치 조정 */
      right: -28.5px;
      /* 날짜 오른쪽에서 바깥쪽으로 점 배치 */
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background-color: var(--timeline-node-bg);
      box-shadow: 0 0 3px 0 #c2c6cc;
      z-index: 1;
    }
  }

  .title {
    font-weight: bold;
    margin-left: 2rem;
  }

  .description {
    margin-left: 6.5rem;
    margin-bottom: 0;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    position: relative;
    color: var(--text-secondary);
    font-size: 0.95rem;
  }
}

/* #news */

@media all and (max-width: 576px) {
  #news {
    margin-top: -1rem;

    ul {
      letter-spacing: 0;

      // .date {
      //   &::after {
      //     right: -28.5px;
      //   }
      // }
    }
  }
}

.force-wrap {
  /* Enable normal wrapping */
  white-space: normal !important;
  /* Force break words */
  // word-break: break-all !important;
  /* Support for modern browsers */
  // overflow-wrap: break-word !important;
}